@model ColorAdmin.Models.Vehicle

@{
    ViewData["Title"] = "Create Vehicle";
}

<h2>Create Vehicle</h2>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="VehicleName" class="control-label">Vehicle Name</label>
                <input asp-for="VehicleName" class="form-control" />
                <span asp-validation-for="VehicleName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LicensePlate" class="control-label">License Plate</label>
                <input asp-for="LicensePlate" class="form-control" />
                <span asp-validation-for="LicensePlate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VinNumber" class="control-label">Vin Number</label>
                <input asp-for="VinNumber" class="form-control" />
                <span asp-validation-for="VinNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Maker" class="control-label">Maker</label>
                <input asp-for="Maker" class="form-control" />
                <span asp-validation-for="Maker" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Model" class="control-label">Model</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="YearOfManufacture" class="control-label">Year of manufacture</label>
                <input asp-for="YearOfManufacture" class="form-control" />
                <span asp-validation-for="YearOfManufacture" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdentificationCard" class="control-label">Identification Card</label>
                <input asp-for="IdentificationCard" class="form-control" />
                <span asp-validation-for="IdentificationCard" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TypeOfVehicle" class="control-label">Type Of Vehicle</label>
                <input asp-for="TypeOfVehicle" class="form-control" />
                <span asp-validation-for="TypeOfVehicle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MapMarkerColor" class="control-label">Map Marker Color</label>
                <input asp-for="MapMarkerColor" class="form-control" />
                <span asp-validation-for="MapMarkerColor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MapMarkerSize" class="control-label">Map Marker Size</label>
                <input asp-for="MapMarkerSize" class="form-control" />
                <span asp-validation-for="MapMarkerSize" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DefaultDriver" class="control-label">Default Driver</label>
                <input asp-for="DefaultDriver" class="form-control" />
                <span asp-validation-for="DefaultDriver" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DefaultDriverPhone" class="control-label">Default Driver Phone</label>
                <input asp-for="DefaultDriverPhone" class="form-control" />
                <span asp-validation-for="DefaultDriverPhone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
